@charset "UTF-8";
/* 초기화 */
html {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: "Pretendard", Noto Sans KR, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  letter-spacing: -0.7px;
  font-family: "Pretendard", Noto Sans KR, sans-serif;
}

html, h1, h2, h3, h4, h5, h6, form, fieldset, img {
  margin: 0;
  padding: 0;
  border: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 1em;
  font-family: "Pretendard", Noto Sans KR, sans-serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul, li, dd, dl, dt {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cf:after {
  display: block;
  content: "";
  clear: both;
}

.hide {
  display: none;
}

#hd ul, nav ul, #ft ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

legend {
  position: absolute;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  text-indent: -9999em;
  overflow: hidden;
}

label, input, button, select, img {
  vertical-align: middle;
}

input, button {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

button {
  cursor: pointer;
}

textarea, select {
  font-size: 1em;
}

select {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

hr {
  display: none;
}

pre {
  overflow-x: scroll;
  font-size: 1.1em;
}

a:link, a:visited {
  color: #565656;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  color: #000;
  text-decoration: none;
  transition: all 0.3s;
}

/*테이블*/
.to_table {
  background: #ffffff;
  margin: 10px 0 10px 0;
}

.to_table caption {
  display: none;
}

.to_table thead tr th {
  font-weight: 500;
  border-top: 1px solid #ee7b3a;
  background: #ee7b3a;
  border-bottom: 1px solid #ee7b3a;
  text-align: center;
  padding: 12px;
  font-size: 20px;
  color: #ffffff;
}

.to_table.pink_ver thead tr th {
  border-top: 1px solid #e9559a;
  background: #e9559a;
  border-bottom: 1px solid #e9559a;
}

.to_table td {
  border: 1px solid #e0e0e0;
  padding: 12px 10px;
  color: #666;
  text-align: center;
  border-collapse: collapse;
  font-size: 16px;
}

.to_table tr.color td {
  background: #f5fafb;
}

.to_table td.end {
  color: #3270bd;
}

.to_table td.end2 {
  color: #25a99e;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.tc {
  text-align: center !important;
}

.tl {
  text-align: left !important;
}

.tr {
  text-align: right !important;
}

.black {
  color: #222 !important;
}

.white {
  color: #FFF !important;
}

.org {
  color: #ee7b3a !important;
}

.pink {
  color: #e9559a !important;
}

.mint {
  color: #66c5d3 !important;
}

.font-pp {
  color: #6f00be !important;
}

.gray {
  color: #636363 !important;
}

.grayB {
  color: #222 !important;
}

.purple {
  color: #6f00be !important;
}

.bg_gray {
  background: #464248 !important;
}

.inner {
  width: 1420px;
  margin-left: auto;
  margin-right: auto;
}

.w1200 {
  width: 1200px;
  margin-left: auto;
  min-width: 768px;
  margin-right: auto;
}

.w900 {
  width: 900px;
  margin-left: auto;
  min-width: 768px;
  margin-right: auto;
}

.text_B {
  text-transform: uppercase;
}

.tbl {
  margin-top: 10px;
}

.tbl table {
  width: 100%;
  border-top: 1px solid #444;
  font-size: 1.1em;
  letter-spacing: 0;
  text-align: center;
  border-left: 1px solid #e3e3e3;
}

.tbl tr th {
  vertical-align: middle;
  padding: 10px 15px;
  border-bottom: 1px solid #e3e3e3;
  background: #f5f5f5;
  color: #222;
}

.tbl tr td {
  vertical-align: middle;
  padding: 8px 15px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  color: #333;
}

.tbl thead th {
  background: #f5f5f5;
  text-align: center;
  border-right: 1px solid #e3e3e3;
}

.tbl tbody th {
  background: #F7F7F7;
  text-align: center;
  border-right: 1px solid #e3e3e3;
}

.tbl3 {
  border-top: 1px solid #444;
  font-size: 1.1em;
  letter-spacing: 0;
  text-align: center;
}

.tbl3 tr th {
  vertical-align: middle;
  padding: 5px 5px;
  border-bottom: 1px solid #e3e3e3;
  background: #f5f5f5;
}

.tbl3 tr td {
  vertical-align: middle;
  padding: 5px 5px;
  border-bottom: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  color: #666;
}

.tbl3 thead th {
  background: #f5f5f5;
  text-align: center;
  border-right: 1px solid #e3e3e3;
  padding: 7px 5px;
}

.tbl3 tbody th {
  background: #F7F7F7;
  text-align: center;
  border-right: 1px solid #e3e3e3;
}

.tbl3 tr.total td {
  border-right: 1px dotted #ddd;
  background: #efefef;
  font-weight: 500;
  color: #333;
  border-top: 1px solid #444;
}

.tbl3 tr td.rn {
  border-right: 0;
}

.mobVer {
  display: none !important;
}

/* cursor */
.cspointer {
  cursor: pointer;
}

/* button */
.btnBox .newBtn {
  margin: 0 5px;
}

.newBtn {
  all: unset;
  display: inline-block;
  min-width: 220px;
  line-height: 45px;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  background: #6f00be;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  border: 0;
  color: #FFF !important;
}

.newBtn_non {
  all: unset;
  display: inline-block;
  line-height: 35px;
  text-align: center;
  font-size: 15px;
  border-radius: 5px;
  background: #333;
  color: #FFF;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  border: 0;
  padding: 0 20px;
}

.newBtn:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.newBtn.non_hover:hover {
  box-shadow: none;
}

.newBtn_non:hover {
  text-decoration: underline;
}

.newBtn.btn_line {
  color: #6f00be !important;
  border: 1px solid #6f00be !important;
  background: #FFF !important;
}

.newBtn.ver_full {
  width: 100%;
  display: block;
}

.newBtn.ver_chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.newBtn.ver_chat i {
  display: inline-block;
  font-size: 17px;
  margin-left: 6px;
  margin-top: -3px;
}

.newBtn.ver_pro {
  background: #222;
  color: #FFF;
}

.newBtn.ver_full {
  display: block;
  width: 100%;
}

.newBtn_s {
  display: inline-block;
}

.newBtn_ss {
  min-width: inherit;
  font-size: 0.7em;
  line-height: 30px;
  padding: 0 16px;
  margin-left: 9px;
  font-weight: 400;
}

.trans05 {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.trans05:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* select */
.box_sel select {
  width: auto;
  padding: 5px 20px 5px 5px;
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0 20px;
  min-width: 200px;
  cursor: pointer;
  height: 45px;
  outline: none;
  margin-bottom: 5px;
  background: #fff;
  border-radius: 50px;
  /*margin-right: 10px;
  background:#FFF url(../img/app/ico_sel.png) no-repeat 92% center;*/
}

.box_sel label {
  display: inline !important;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 0;
  line-height: 0;
  border: 0 !important;
  overflow: hidden !important;
}

.sarr i {
  margin-right: 5px;
}

.sarr i:before {
  display: inline-block;
  margin-left: -20px;
}

.flexBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-lines: multiple;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flexBox.area02 {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flexBox.area02 > * {
  width: 48%;
}

.flexBox.area02.ver_noList > * {
  width: auto;
}

.flexBox.area02.ver_auto_h {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.flexBox.area03 > * {
  width: 32%;
  margin-right: 2%;
}

.flexBox.area03 > *:nth-child(3n) {
  margin-right: 0;
}

.flexBox.area04 > * {
  width: 23%;
}

.flexBox.area05 > * {
  min-width: 18%;
  width: 18%;
}

.flexBox.ver_row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.flexBox.ver_js-sb {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.dlBox dl {
  display: table;
  float: left;
  margin-bottom: 10px;
}

.dlBox dl.full {
  width: 100%;
}

.dlBox dl dt {
  display: table-cell;
  width: 150px;
  vertical-align: top;
  line-height: 30px;
}

.dlBox dl dd {
  display: table-cell;
  padding: 5px 0;
}

.dlBox dl dd .noline {
  line-height: 1;
  margin-bottom: 5px;
  font-size: 1.1em;
  font-weight: 600;
}

button.like {
  border: 0;
  background-image: url(../img/common/ico_like.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 23px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  text-indent: -99em;
  background-color: transparent;
  overflow: hidden;
}

.btn_share {
  border: 0;
  background: url(../img/common/ico_share.svg) no-repeat center center;
  background-size: 18px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 30px;
  height: 40px;
  text-indent: -99em;
  overflow: hidden;
}

button.like.on {
  background-image: url(../img/common/ico_like_on.svg);
  -webkit-animation-duration: 0.45s;
  animation-duration: 0.45s;
  -webkit-animation-name: like-button-animation;
  animation-name: like-button-animation;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-transform: scale(1);
  transform: scale(1);
}

@media (max-width: 1450px) {
  .inner,
.w1200 {
    width: 90%;
  }
}
@media (max-width: 1200px) {
  .to_table thead tr th {
    padding: 3px;
    font-size: 12px;
  }
  .to_table td {
    padding: 3px;
    font-size: 11px;
  }
  /*가로스크롤*/
  .row-horizon:before {
    content: "← 좌우스크롤로 확인해주세요 →";
    display: block;
    margin: 5px 0 5px 5px;
    font-size: 11px;
    color: #999;
  }
  .row-horizon {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    float: none;
    width: 100%;
  }
  .inner.m_ver_full {
    width: 100%;
  }
  #logo img.pcVer {
    display: none !important;
  }
  #logo img.mobVer {
    display: block !important;
  }
}
@media (max-width: 1025px) {
  .pcVer {
    display: none !important;
  }
  .mobVer {
    display: block !important;
  }
  .w900 {
    width: 90%;
  }
  .inner.m_ver_full {
    width: 100%;
  }
}
@media (max-width: 1180px) {
  .m-column {
    -webkit-box-orient: vertical;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .m-column > * {
    width: 100% !important;
  }
  .m-column-reverse {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
@media (max-width: 768px) {
  .inner, .w1200, .w900 {
    min-width: 280px;
  }
  .flexBox.area02.ver_noList {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .flexBox.area02.ver_noList.m-column-reverse,
.flexBox.area02.ver_noList.m-column {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .dlBox dl.full {
    width: 50%;
  }
  .dlBox dl {
    font-size: 0.866em;
  }
  .dlBox dl dt {
    width: 35%;
  }
  .inner.m_ver_full {
    width: 100%;
  }
}
/*체크박스*/
.ckb input[type=checkbox] {
  display: none;
}

.ckb input[type=checkbox] + label {
  cursor: pointer;
  margin: 5px 0; /*font-size:0.9em;*/
  display: inline-block !important;
  margin-right: 5px;
  padding-left: 25px;
  background: url(../img/common/ico_check.png) no-repeat left center;
  opacity: 0.7;
}

.ckb input[type=checkbox]:checked + label {
  opacity: 1;
  background: url(../img/common/ico_check_b.png) no-repeat left center;
  opacity: 0.7;
}

/*라디오버튼*/
input[type=radio] {
  display: none;
}

input[type=radio] + label {
  cursor: pointer;
  margin: 5px 0; /*font-size:0.9em;*/
  display: inline-block !important;
  margin-right: 5px;
}

input[type=radio] + label > div {
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  background: white;
  box-sizing: border-box;
  width: 16px;
  height: 16px;
  margin-top: -4px;
  border-radius: 50%;
  margin-right: 5px;
  position: relative;
  background: #c5c5c5;
}

input[type=radio] + label > div:before {
  font-family: "Font Awesome 6 Pro";
  content: "\f00c";
  font-weight: 600;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10px;
  color: #fff;
}

input[type=radio]:checked + label > div {
  background: #7c49fd;
}

input[type=radio] + label:hover > div {
  border-width: 2px;
}

/*박스디자인*/
.box_in input[type=radio] {
  display: none;
}

.box_in input[type=radio] + label {
  cursor: pointer;
  margin: 0px 0;
  font-size: 1em;
  font-weight: normal;
  display: inline-block !important;
  margin-right: 3px;
  background: #fff;
  padding: 6px 12px;
  line-height: 1em;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
}

.box_in input[type=radio] + label > div {
  display: none;
}

.box_in input[type=radio]:checked + label {
  background: #6f00be;
  border: 1px solid #6f00be;
  color: #fff;
}

.box_in input[type=checkbox] + label:hover > div {
  border-width: 2px;
}

.box_in input[type=checkbox] {
  display: none;
}

.box_in input[type=checkbox] + label {
  cursor: pointer;
  margin: 0px 0;
  font-size: 1em;
  font-weight: normal;
  display: inline-block !important;
  margin-right: 3px;
  background: #fff;
  padding: 6px 12px;
  line-height: 1em;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
}

.box_in input[type=checkbox] + label > div {
  display: none;
}

.box_in input[type=checkbox]:checked + label {
  background: #6f00be;
  border: 1px solid #6f00be;
  color: #fff;
}

.box_in input[type=radio] + label:hover > div {
  border-width: 2px;
}

select {
  padding: 6px 40px 6px 12px;
  min-width: 50px;
}

.basic_modal .modal-content {
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  overflow: visible;
  top: 50%;
  padding: 0;
  transform: translate(0, -50%);
  padding: 0;
}

.basic_modal .modal-content h4 {
  text-align: center;
  margin-top: 0;
  font-size: 1.2em;
  color: #000;
  background: #242424;
  color: #FFF;
  line-height: 60px;
  border-radius: 5px 5px 0 0;
}

.basic_modal .modal-content .close {
  float: inherit;
  float: inherit;
  position: absolute;
  top: -45px;
  right: 0;
  color: #FFF;
  opacity: 1;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
}

.basic_modal .modal-content .modal-body {
  max-height: 65vh;
  overflow-y: auto;
  padding: 20px;
  border-radius: 0 0 5px 5px;
}

.basic_modal .modal-footer .newBtn {
  line-height: 3.2;
  font-size: 1.15em;
  font-weight: 600;
}

.basic_dl {
  margin-bottom: 20px;
  text-align: left;
}

.basic_dl dl {
  margin: 0 0 20px;
}

.basic_dl dl.row:last-child {
  margin: 0;
}

.basic_dl dt {
  font-size: 15px;
  font-weight: 500;
  color: #222;
}

.basic_dl dt .s_text {
  font-size: 0.8em;
}

.basic_dl dd {
  margin-top: 5px;
}

.basic_dl dd p {
  font-size: 14px;
  margin-top: 5px;
  color: #7732ff;
  font-weight: 600;
}

.basic_dl dd:after {
  display: block;
  content: "";
  clear: both;
}

.basic_dl dd p.error {
  display: block;
  margin: 5px 0 0;
  font-size: 12px;
  color: #ff0000;
}

.basic_dl input {
  outline: none;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  padding: 0 15px;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  background: #fff !important;
}

.basic_dl dl.password input {
  background: #f9f9f9 !important;
}

.basic_dl .input {
  position: relative;
}

.basic_dl .input select {
  outline: none;
}

.basic_dl .input textarea {
  width: 100%;
  border: 1px solid #DDD;
  padding: 10px;
  height: 130px;
  outline: none;
}

.basic_dl dd.ver_prc > span {
  display: block;
  font-size: 1.8em;
  font-weight: 600;
  color: #6f00be;
}

.basic_dl dd.ver_prc > span b {
  font-size: 0.9em !important;
  color: #000;
  font-weight: 500;
  margin-left: 5px !important;
}

.basic_dl dd.ver_prc.flexBox {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.basic_dl dd.ver_prc.flexBox .input {
  width: 33%;
}

.basic_dl dd.ver_prc.flexBox .input input {
  text-align: right;
  border: 0;
  border-bottom: 2px solid #333;
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: -0.5px;
  height: 35px;
  color: #6f00be;
}

.basic_dl dd.ver_prc.flexBox b {
  display: inline-block;
  margin-left: 10px;
  font-size: 1.2em;
}

.rate_ck {
  margin-top: 20px;
}

.rate_ck > img {
  width: 25px;
}

.damPosition .dam {
  position: absolute;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 4px solid #DDDDDD;
  box-sizing: content-box;
  cursor: pointer;
}
.damPosition .dam img {
  width: 100%;
  height: 100%;
}
.damPosition .dam:hover .popInfo {
  display: flex;
}
.damPosition .dam .popInfo {
  display: none;
  position: absolute;
  top: -77px;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  align-items: center;
}
.damPosition .dam .popInfo span {
  padding: 14px 15px;
  border-radius: 8px;
  background-color: #4089F7;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-align: center;
}
.damPosition .dam .popInfo::after {
  content: "";
  margin-top: -1px;
  width: 14.72px;
  height: 12.75px;
  background: url(../img/water/popInfo_arr.svg) center/cover no-repeat;
}
.damPosition .dam.red .popInfo span {
  background-color: #E34545;
}
.damPosition .dam.red .popInfo::after {
  background: url(../img/water/popInfo_arr_r.svg) center/cover no-repeat;
}
.damPosition .dam.ac {
  border: 4px solid #0C79FE;
}
.damPosition .dam.ac img {
  filter: drop-shadow(0px 4px 26px rgba(12, 121, 254, 0.9)) drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.35));
}

.calendarWrap {
  height: 78px;
  display: flex;
  align-items: center;
}
.calendarWrap .calendar {
  flex: 1 0 auto;
  display: block;
  height: 41px;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 20px;
}
.calendarWrap .calendar label {
  width: 100%;
  height: 100%;
  display: block;
}
.calendarWrap .calendar input {
  background: #1D2530;
  border: 0;
  outline: 0;
  color: white;
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: 40px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  font-family: "Pretendard", Noto Sans KR, sans-serif;
}
.calendarWrap .calendar input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: 0;
  background: url(../img/drought/calendar_btn.svg) left 14px center no-repeat;
}
.calendarWrap button {
  color: white;
  font-size: 16px;
  font-weight: 600;
  width: 62px;
  height: 41px;
  background-color: #1D2530;
  border: 0;
  border-radius: 5px;
}

.calendarWrap {
  background-color: rgba(23, 23, 23, 0.3);
  border-radius: 10px;
  backdrop-filter: blur(46px);
  padding: 5px 18px;
  height: auto;
}
.calendarWrap h5 {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: white;
  margin-right: 10px;
}
.calendarWrap .fromToWrap {
  background-color: #1D2530;
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  height: 32px;
  padding: 0 2px;
}
.calendarWrap .fromToWrap .calendar {
  margin: 0;
  height: 32px;
}
.calendarWrap .fromToWrap .calendar input {
  font-size: 14px;
  width: 128px;
  padding-left: 32px;
  letter-spacing: 0.05em;
}
.calendarWrap .fromToWrap .calendar input::-webkit-calendar-picker-indicator {
  background: url(../img/drought/calendar_btn.svg) left 8px center no-repeat;
}
.calendarWrap button {
  margin-left: 7px;
  border-radius: 10px;
  width: 45px;
  height: 32px;
}

.section.water {
  background-color: #010101;
}
.section.water .detailViewItem {
  display: none;
}
.section.water.detailView .waterStorage {
  display: none;
}
.section.water.detailView .detailViewItem {
  display: block;
}
.section.water.detailView .panelCont {
  display: flex;
  align-items: center;
}
.section.water.detailView .panelCont .tit {
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.05em;
  color: #A0A0A0;
  padding: 0px 11px;
  height: 42px;
  width: auto;
  margin-right: 4px;
  background: rgba(29, 37, 48, 0.37);
  backdrop-filter: blur(46px);
  border-radius: 50px;
}
.section.water.detailView .damListIcon ul {
  display: flex;
  align-items: center;
  padding: 7px 12px;
  gap: 12px;
  background: rgba(23, 23, 23, 0.3);
  backdrop-filter: blur(40px);
  border-radius: 10px;
}
.section.water.detailView .damListIcon ul li {
  display: flex;
  align-items: center;
  color: white;
  font-size: 14px;
  font-weight: 600;
  gap: 4px;
  cursor: pointer;
}
.section.water.detailView .damListIcon ul li img {
  border: 1px solid transparent;
  border-radius: 50%;
  box-sizing: border-box;
  width: 28px;
  height: 28px;
  object-fit: cover;
}
.section.water.detailView .damListIcon ul li:hover img, .section.water.detailView .damListIcon ul li.ac img {
  border: 1px solid #0C79FE;
  filter: drop-shadow(0px 4px 26px rgba(12, 121, 254, 0.9)) drop-shadow(0px 2px 12px rgba(0, 0, 0, 0.35));
}
.section.water.detailView .damReport {
  display: none;
  margin-top: 31px;
  width: 580px;
  box-sizing: border-box;
  padding: 20px 16px 16px;
  background: rgba(23, 23, 23, 0.3);
  backdrop-filter: blur(46px);
  border-radius: 10px;
  transform: scale(0.9);
  margin-top: -25px;
  margin-left: -29px;
}
.section.water.detailView .damReport.on {
  display: block;
}
.section.water.detailView .damReport h3 {
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  color: #FED70C;
}
.section.water.detailView .damReport .titWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 7px;
  margin-bottom: 7px;
}
.section.water.detailView .damReport .titWrap .location {
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  align-items: center;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}
.section.water.detailView .damReport .titWrap .location i {
  font-style: normal;
  color: #0C79FE;
}
.section.water.detailView .damReport .titWrap .downloadBtn {
  background-color: #1D2530;
  color: white;
  display: flex;
  padding: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  border: 0;
  outline: 0;
  border-radius: 10px;
}
.section.water.detailView .damReport .surmmary {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px 20px;
  border-radius: 10px;
  box-sizing: border-box;
  background: #1D2530;
  color: white;
}
.section.water.detailView .damReport .surmmary .item {
  text-align: center;
}
.section.water.detailView .damReport .surmmary .item .tit {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: #DDDDDD;
  margin-bottom: 4px;
}
.section.water.detailView .damReport .surmmary .item .value {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.section.water.detailView .damReport .surmmary .item .value em {
  font-style: normal;
  font-size: 12px;
}
.section.water.detailView .damReport .graph1,
.section.water.detailView .damReport .graph2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1D2530;
  min-height: 190px;
  padding: 16px 20px;
  border-radius: 10px;
  margin-top: 4px;
}
.section.water.detailView .damReport .graph1 .dummyGraph {
  width: 497px;
  height: 197px;
  background: url(../img/water/damReportGraph1/bg.png);
  position: relative;
}
.section.water.detailView .damReport .graph1 .dummyGraph .controlBox {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 12px;
}
.section.water.detailView .damReport .graph1 .dummyGraph .controlBox span {
  font-weight: 700;
  font-size: 12px;
  line-height: 140%;
  color: #FFFFFF;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  z-index: 1;
  cursor: pointer;
}
.section.water.detailView .damReport .graph1 .dummyGraph .controlBox span::before {
  content: "";
  display: block;
  width: 16px;
  height: 3px;
}
.section.water.detailView .damReport .graph1 .dummyGraph .controlBox span:nth-child(1)::before {
  background-color: #576EF6;
}
.section.water.detailView .damReport .graph1 .dummyGraph .controlBox span:nth-child(2)::before {
  background-color: #F6C243;
}
.section.water.detailView .damReport .graph1 .dummyGraph .controlBox span:nth-child(3)::before {
  background-color: #5CCDFA;
}
.section.water.detailView .damReport .graph1 .dummyGraph ul {
  position: absolute;
  top: 0;
  right: 0;
  width: 420px;
  height: 100%;
}
.section.water.detailView .damReport .graph1 .dummyGraph ul .graphItem {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  overflow: hidden;
}
.section.water.detailView .damReport .graph1 .dummyGraph ul .graphItem .imgDiv {
  opacity: 0;
  width: 0;
  height: 197px;
  transition: 0.3s;
}
.section.water.detailView .damReport .graph1 .dummyGraph ul .graphItem.on .imgDiv {
  opacity: 1;
  width: 100%;
}
.section.water.detailView .damReport .graph1 .dummyGraph ul .graphItem:nth-child(1) .imgDiv {
  background: url(../img/water/damReportGraph1/graph_data_line_01.png) left/cover no-repeat;
}
.section.water.detailView .damReport .graph1 .dummyGraph ul .graphItem:nth-child(2) .imgDiv {
  background: url(../img/water/damReportGraph1/graph_data_line_02.png) left/cover no-repeat;
}
.section.water.detailView .damReport .graph1 .dummyGraph ul .graphItem:nth-child(3) .imgDiv {
  background: url(../img/water/damReportGraph1/graph_data_line_03.png) left/cover no-repeat;
}
.section.water.detailView .detailPanel {
  position: absolute;
  top: 84px;
  right: 88px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.section.water.detailView .detailPanel .calendarWrap {
  height: 78px;
  display: flex;
  align-items: center;
}
.section.water.detailView .detailPanel .calendarWrap .calendar {
  flex: 1 0 auto;
  display: block;
  height: 41px;
  border-radius: 5px;
  margin-right: 5px;
  margin-left: 20px;
}
.section.water.detailView .detailPanel .calendarWrap .calendar label {
  width: 100%;
  height: 100%;
  display: block;
}
.section.water.detailView .detailPanel .calendarWrap .calendar input {
  background: #1D2530;
  border: 0;
  outline: 0;
  color: white;
  width: 100%;
  height: 100%;
  position: relative;
  padding-left: 40px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
  font-family: "Pretendard", Noto Sans KR, sans-serif;
}
.section.water.detailView .detailPanel .calendarWrap .calendar input::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: 0;
  background: url(../img/drought/calendar_btn.svg) left 14px center no-repeat;
}
.section.water.detailView .detailPanel .calendarWrap button {
  color: white;
  font-size: 16px;
  font-weight: 600;
  width: 62px;
  height: 41px;
  background-color: #1D2530;
  border: 0;
  border-radius: 5px;
}
.section.water.detailView .detailPanel .calendarWrap {
  background-color: rgba(23, 23, 23, 0.3);
  border-radius: 10px;
  backdrop-filter: blur(46px);
  height: 47px;
  padding-left: 12px;
  padding-right: 12px;
}
.section.water.detailView .detailPanel .calendarWrap h5 {
  color: white;
  margin-right: 16px;
}
.section.water.detailView .detailPanel .calendarWrap .calendar {
  margin: 0;
  height: 32px;
}
.section.water.detailView .detailPanel .calendarWrap .fromToWrap {
  display: flex;
  align-items: center;
  flex: 1 0 auto;
  overflow: hidden;
  border-radius: 10px;
  background-color: #1D2530;
}
.section.water.detailView .detailPanel .calendarWrap .fromToWrap .divider {
  display: block;
  width: 1px;
  height: 25px;
  background-color: #2E3640;
}
.section.water.detailView .detailPanel .calendarWrap .fromToWrap input {
  font-size: 14px;
}
.section.water.detailView .detailPanel .calendarWrap button {
  width: 45px;
  height: 32px;
  margin-left: 8px;
  border-radius: 10px;
}
.section.water.detailView .detailPanel .panelItem {
  background-color: rgba(23, 23, 23, 0.3);
  border-radius: 10px;
  backdrop-filter: blur(46px);
  padding: 12px;
  padding-bottom: 8px;
  display: none;
}
.section.water.detailView .detailPanel .panelItem.on {
  display: block;
}
.section.water.detailView .detailPanel .panelItem .titWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 9px;
}
.section.water.detailView .detailPanel .panelItem .titWrap h5 {
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;
  color: #FED70C;
}
.section.water.detailView .detailPanel .panelItem .titWrap .downloadBtn {
  width: auto;
  height: 25px;
  border-radius: 10px;
  padding: 0 10px;
  border: 0;
  background-color: #1D2530;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}
.section.water.detailView .detailPanel .panelItem .surmmary {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px 20px;
  border-radius: 10px;
  box-sizing: border-box;
  background: #1D2530;
  color: white;
}
.section.water.detailView .detailPanel .panelItem .surmmary .item {
  text-align: center;
}
.section.water.detailView .detailPanel .panelItem .surmmary .item .tit {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.05em;
  color: #DDDDDD;
  margin-bottom: 4px;
}
.section.water.detailView .detailPanel .panelItem .surmmary .item .value {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}
.section.water.detailView .detailPanel .panelItem .surmmary .item .value em {
  font-style: normal;
  font-size: 12px;
}
.section.water.detailView .detailPanel .panelItem .surmmary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid #2E3640;
  padding: 8px 16px;
}
.section.water.detailView .detailPanel .panelItem .surmmary .item .tit {
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0.05em;
}
.section.water.detailView .detailPanel .panelItem .surmmary .item .value {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.03em;
}
.section.water.detailView .detailPanel .panelItem .graph {
  padding: 12px 16px;
  border-radius: 0px 0px 10px 10px;
  background-color: #1D2530;
}
.section.water.detailView .detailPanel .panelItem .graph img {
  width: 435px;
  height: auto;
}
.section.water.detailView .ver_r .searchWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section.water.detailView .ver_r .searchWrap .tab a {
  min-width: 84px;
  height: 32px;
  line-height: 32px;
  border-radius: 30px;
  padding: 0 12px;
  box-sizing: border-box;
  justify-content: center;
  background-color: #A6A6A6;
  color: white;
}
.section.water.detailView .ver_r .searchWrap .tab a.on {
  background-color: #0C79FE;
}
.section.water.detailView .ver_r .searchWrap .tab a:hover {
  background-color: #0C79FE;
}
.section.water.detailView .panel04 {
  background-color: rgba(23, 23, 23, 0.3);
  border-radius: 10px;
  backdrop-filter: blur(46px);
  position: absolute;
  left: 0;
  top: 333px;
  z-index: 999;
  padding: 16px;
  display: flex;
  display: none;
  flex-direction: column;
  gap: 19px;
}
.section.water.detailView .panel04.on {
  display: flex;
}
.section.water.detailView .panel04 h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FED70C;
}
.section.water.detailView .panel04 .panel_close {
  position: absolute;
  top: 19px;
  right: 16px;
}
.section.water.detailView .panel04 .graph {
  width: 656px;
  height: 332px;
  background: #1D2530;
  border-radius: 12px;
}
.section.water.detailView .water03.panel04 {
  padding: 14px;
  gap: 14px;
}
.section.water.detailView .water03.panel04 .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section.water.detailView .water03.panel04 .flex .exportBtn {
  font-weight: 700;
  font-size: 16px;
  background-color: rgba(23, 23, 23, 0.3);
  border-radius: 7px;
  border: 0;
  outline: 0;
  color: white;
  height: 39px;
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.section.water.detailView .panel05 {
  position: absolute;
  right: 108px;
  top: 97px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  gap: 9px;
}
.section.water.detailView .panel05 .searchWrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.section.water.detailView .panel05 .searchWrap .tab a {
  min-width: 84px;
  height: 32px;
  line-height: 32px;
  border-radius: 30px;
  padding: 0 12px;
  box-sizing: border-box;
  justify-content: center;
  background-color: #A6A6A6;
  color: white;
}
.section.water.detailView .panel05 .searchWrap .tab a.on {
  background-color: #0C79FE;
}
.section.water.detailView .panel05 .searchWrap .tab a:hover {
  background-color: #0C79FE;
}
.section.water.detailView .panel05 .searchWrap {
  margin: 0;
}
.section.water.detailView .panel05 .searchWrap .calendarWrap {
  border-radius: 20px;
  margin-bottom: 0;
}
.section.water.detailView .panel05 .panelItem {
  display: none;
  background-color: rgba(23, 23, 23, 0.3);
  border-radius: 10px;
  backdrop-filter: blur(46px);
  min-width: 350px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(60.8824px);
  padding: 14px;
  color: white;
}
.section.water.detailView .panel05 .panelItem.on {
  display: block;
}
.section.water.detailView .panel05 .panelItem .titWrap {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 14px;
}
.section.water.detailView .panel05 .panelItem .titWrap h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-right: 8px;
  color: #FED70C;
}
.section.water.detailView .panel05 .panelItem .titWrap select {
  border: 0;
  outline: 0;
  padding: 4px 17px 4px 6px;
  width: auto;
  height: 25px;
  border-radius: 7px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  appearance: none;
  background: rgba(23, 23, 23, 0.3) url(../img/water/select_arr.svg) right 8px center no-repeat;
}
.section.water.detailView .panel05 .panelItem .titWrap button {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 6px;
  height: 25px;
  border-radius: 7px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  appearance: none;
  background: rgba(23, 23, 23, 0.3);
  color: white;
  border: 0;
  outline: 0;
}
.section.water.detailView .panel05 .panelItem .table {
  background: #1D2530;
  border-radius: 10px;
  padding: 14px 10px;
  display: flex;
  justify-content: space-around;
  gap: 18px;
  text-align: center;
}
.section.water.detailView .panel05 .panelItem .table .divider {
  padding: 10px 0;
}
.section.water.detailView .panel05 .panelItem .table .divider div {
  width: 2px;
  height: 100%;
  background: #29313C;
}
.section.water.detailView .panel05 .panelItem .table .left,
.section.water.detailView .panel05 .panelItem .table .right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1 0 0;
  width: 50%;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.03em;
  overflow: hidden;
  white-space: nowrap;
}
.section.water.detailView .panel05 .panelItem .table .left > div,
.section.water.detailView .panel05 .panelItem .table .right > div {
  text-overflow: ellipsis;
  overflow: hidden;
}
.section.water.detailView .panel05 .panelItem .table .tit {
  font-weight: 800;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #4089F7;
}
.section.water.detailView .map_api img {
  object-fit: contain;
}
.section.water.detailView .map_api .cycleWrap {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  width: 682px;
  height: 690px;
}
.section.water.detailView .map_api .cycleWrap.on {
  display: block;
}
.section.water.detailView .map_api .cycleWrap.on .outterBox,
.section.water.detailView .map_api .cycleWrap.on .innerBox {
  display: block;
}
.section.water.detailView .map_api .cycleWrap .outterBox,
.section.water.detailView .map_api .cycleWrap .innerBox {
  display: none;
}
.section.water.detailView .map_api .cycleWrap .outterBox {
  width: 100%;
  height: 100%;
  border: 4px solid #FFFFFF;
  border-radius: 30px;
}
.section.water.detailView .map_api .cycleWrap .outterBox .arrow.right {
  right: -25px;
}
.section.water.detailView .map_api .cycleWrap .outterBox .arrow.bottom {
  bottom: -16px;
}
.section.water.detailView .map_api .cycleWrap .on.outterBox,
.section.water.detailView .map_api .cycleWrap .on.innerBox {
  border: 4px solid #72AAFF;
}
.section.water.detailView .map_api .cycleWrap .innerBox {
  position: absolute;
  width: 285px;
  height: 366px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 4px solid #FFFFFF;
  border-radius: 18.2692px;
}
.section.water.detailView .map_api .cycleWrap .innerBox .arrow.bottom {
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
}
.section.water.detailView .map_api .cycleWrap [class^=graph] {
  position: absolute;
  border-radius: 10px;
  background-color: #1D2530;
  overflow: hidden;
  width: 217px;
  height: 115px;
}
.section.water.detailView .map_api .cycleWrap .tit {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 39px;
  text-align: center;
  border-radius: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  position: absolute;
  top: -21px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  color: #4089F7;
}
.section.water.detailView .map_api .cycleWrap .on .tit {
  color: white;
  background-color: #4089F7;
}
.section.water.detailView .map_api .cycleWrap .graph01 {
  top: 30px;
  left: -40px;
}
.section.water.detailView .map_api .cycleWrap .graph02 {
  bottom: 41px;
  left: -40px;
}
.section.water.detailView .map_api .cycleWrap .graph03 {
  bottom: -52px;
  left: 50%;
  transform: translateX(-50%);
}
.section.water.detailView .map_api .cycleWrap .graph04 {
  bottom: 41px;
  right: -40px;
}
.section.water.detailView .map_api .cycleWrap .graph05 {
  top: 30px;
  right: -40px;
}
.section.water.detailView .map_api .cycleWrap .graph06 {
  top: 30px;
  left: -94px;
}
.section.water.detailView .map_api .cycleWrap .graph07 {
  bottom: 33px;
  left: -94px;
}
.section.water.detailView .map_api .cycleWrap .graph08 {
  bottom: 33px;
  right: -94px;
}
.section.water.detailView .map_api .cycleWrap .graph09 {
  top: 30px;
  right: -94px;
}
.section.water.detailView .map_api .cycleWrap .arrow {
  position: absolute;
  width: 38px;
  height: 22px;
  display: block;
  background: url(../img/water/circle/cycle_arr_w.svg) center/cover no-repeat;
}
.section.water.detailView .map_api .cycleWrap .arrow.left {
  left: -17px;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
}
.section.water.detailView .map_api .cycleWrap .arrow.right {
  right: -21px;
  top: 50%;
  transform: translateY(-50%);
}
.section.water.detailView .map_api .cycleWrap .arrow.bottom {
  right: 103px;
  bottom: -13px;
  transform: rotate(90deg);
}
.section.water.detailView .map_api .cycleWrap .on .arrow {
  background: url(../img/water/circle/cycle_arr_blue.svg);
}

.toggleMap {
  background-color: rgba(23, 23, 23, 0.3);
  border-radius: 10px;
  backdrop-filter: blur(46px);
  padding: 16px;
  display: none;
  width: 200px;
  margin-top: 10px;
}
.toggleMap.on {
  display: block;
}
.toggleMap h5 {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 14px;
  color: #FED70C;
  text-align: center;
}
.toggleMap img {
  width: 100%;
}

/*# sourceMappingURL=water.css.map */
